<!DOCTYPE html>
<html>
<head>
  <title>Gmaps4Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield :head %>
<%= yield %>
<%= yield :scripts %>
</body>
</html>
